@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

.body{
    background-image: url(../image/virus.png), linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(197, 197, 197, 0.945));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
    z-index: 2;
}

body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgb(139, 139, 139)), url('../image/virus.png');
    background-size: cover;
    filter: blur(18px);
    z-index: -4;
}


.internados_baixo{
    position: absolute;
    top: 419px ;
    left: 290px;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Tilt Warp';
}

.internados_num{
    position: absolute;
    top: 380px ;
    left: 520px;
    font-size: 30px;
    font-family: 'Tilt Warp';
    color: #7a1111;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.Leitos_ocupados{
    position: absolute;
    top: 423px ;
    left: 33px;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.internados_text{
    position: absolute;
    top: 355px ;
    left: 33px;
    font-size: 60px;
    color: #ffffff;
    font-family: 'Tilt Warp';
}

.internados{
    position: absolute;
    width: 680px;
    height: 118px;
    left: -50px;
    top: 360px;
    background-color: #7a1111;
    border-radius: 70px;
}

.obitos_baixo{
    position: absolute;
    top: 302px ;
    left: 140px;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Tilt Warp';
}

.obitos_num{
    position: absolute;
    top: 260px ;
    left: 520px;
    font-size: 30px;
    font-family: 'Tilt Warp';
    color: #7a1111;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.ÓBITOS{
    position: absolute;
    top: 307px ;
    left: 33px;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.suspeitos_texto{
    font-size: 60px;
    position: absolute;
    left: 30px;
    top: 238px;
    color: white;
    font-family: 'Tilt Warp';
}

.suspeitos{
    position: absolute;
    width: 680px;
    height: 118px;
    left: -50px;
    top: 240px;
    background-color: #7a1111;
    border-radius: 70px;
}

.teste_rapido_num{
    position: absolute;
    top: 185px ;
    left: 410px;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Tilt Warp';
}

.teste_rapido{
    position: absolute;
    top: 190px ;
    left: 215px;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.lacen_numero{
    position: absolute;
    top: 185px ;
    left: 130px;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Tilt Warp';
}

.lacen{
    position: absolute;
    top: 190px ;
    left: 33px;
    font-size: 25px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.confirmados_numero{
    position: absolute;
    top: 140px ;
    left: 520px;
    font-size: 30px;
    font-family: 'Tilt Warp';
    color: #7a1111;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.confirmados_text{
    font-size: 60px;
    position: absolute;
    left: 30px;
    top: 120px;
    color: white;
    font-family: 'Tilt Warp';
}

.confirmados{
    position: absolute;
    width: 680px;
    height: 118px;
    left: -50px;
    top: 120px;
    background-color: #7a1111;
    border-radius: 70px;
}

.boletim_epidemiológico{
    position: absolute;
    width: 478px;
    height: 104px;
    left: 1370px;
    top: 155px;
    line-height: 54px;
    display: flex;
    font-family: 'Tilt Warp';
    font-size: 50px;
    color: #7a1111;
}

.boletim_epidemiológico2{
    position: absolute;
    width: 478px;
    height: 104px;
    left: 1300px;
    top: 200px;
    line-height: 54px;
    display: flex;
    font-family: 'Tilt Warp';
    font-size: 50px;
    color: rgb(121, 21, 21);
}

.quadro_covid{
    position: absolute;
    width: 478px;
    height: 104px;
    left: 1265px;
    top: 240px;
    line-height: 54px;
    display: flex;
    font-family: 'Tilt Warp';
    font-size: 25px;
    color: rgb(0, 0, 0);
}   

.quadro_covid2{
    position: absolute;
    width: 478px;
    height: 104px;
    left: 1350px;
    top: 270px;
    line-height: 54px;
    display: flex;
    font-family: 'Tilt Warp';
    font-size: 25px;
    color: rgb(0, 0, 0);
}   

.texto_covid{
    position: absolute;
    width: 478px;
    height: 104px;
    left: 1250px;
    top: 360px;
    line-height: 30px;
    display: flex;
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
}